.logo{
    height: 30px;
}
.main{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
.text-title{
    text-align: center;
}
.detail-info{
    text-align: center;
    margin-top: 20px;
}

#nav{
  width: 200pX;
  height: 20px;
  font-style: italic;

  background-color: #003366;
  margin:0px 0px;
  color: #CCFFFF;

  text-decoration: none;
  font-size: 15px;
}


/*#nav a:hover{*/
/*    color: #d2e4ee;*/
/*  font-size: 18px;*/
/*}*/
body{
  background-image:url(../images/index_cover2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


#location{
	text-align:center;
}

a {
    color: #99CCFF;
    /*color: #fff;*/
}

