
ul.blog-list-group{
    list-style: none;
    padding-left: 0;
}

ul.blog-list-group li{
    border-bottom: 1px solid #eee;
    overflow: hidden;
    padding: 15px 0;
}
.blog-group{
    float: left;
    margin-left: 10px;
}

.blog-title-text  a{
    color: #259;
    font-weight: 900;
}

.blog-content-text{
    font-weight: normal;
    font-size: small;
    color: #999999;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
