<!DOCTYPE html>
<html id="html">
	<head>
		<meta charset="utf-8">
		<title>Film Management</title>
		<script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/film.css') }}">
	</head>
	<body id="body">
		<h2 id="h2">Welcome to Coco Movie!</h2>
		<br/>
		<h3 id="h3">Admin Login</h3>
		<form action="" onsubmit="md5_encryption(); return validate_form(this)" method="post" id="form">
			<input id="x1" type="text" name="telephone" placeholder="Account:"/><br>
			<input id="pwd" type="password" name="password" placeholder="Password:"/><br>
			<input id="x2" type="submit" name="submit" value="Login" />
		</form>
		{% if get_flashed_messages() %}
			{% for msg in get_flashed_messages() %}
			<script>alert("{{ msg }}")</script>
			{% endfor %}
		{% endif %}
	</body>
	<script>
        function md5_encryption(){
            document.getElementById("pwd").value = md5(
                document.getElementById("pwd").value
            );
        }
    </script>
</html>