{% extends 'base.html' %}

{% block title %}add movie{% endblock %}


{% block main %}
    <h2 style="
         color: #0066CC;
         height: auto;
         font-size: 40px;
         font-style: oblique;
         font-weight: 300;
         text-align: center;
         text-shadow:0.05em 0.05em #66FFFF;
         font-family:'Times New Roman',fantasy;
         "
    >Add Movie</h2>
    <div class="col-md-1"></div>
    <div class="col-md-9">
    <form action="" method="post" enctype="multipart/form-data" style="padding-left:150px; width:500px">
        <div class="form-container" style="width: 500px; font-size: 16px" >
            <div class="form-group">
                {% if get_flashed_messages() %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {% for msg in get_flashed_messages() %}{{ msg }}{% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label>Movie Name</label>
                {{ form.name }}
            </div>
            {% for err in form.name.errors %}
                <div class="col-md-12">
                    <span style="color: red">{{ err }}</span>
                </div>
            {% endfor %}

            <div class="form-group">
                <label>Blurb</label>
                {{ form.blurb(cols='80',rows='10') }}
            </div>
            {% for err in form.blurb.errors %}
                <div class="col-md-12">
                    <span style="color: red">{{ err }}</span>
                </div>
            {% endfor %}

            <div class="form-group">
                <label>Certificate</label>
                {{ form.certificate }}
            </div>
            {% for err in form.certificate.errors %}
                <div class="col-md-12">
                    <span style="color: red">{{ err }}</span>
                </div>
            {% endfor %}

            <div class="form-group">
                <label>Director</label>
                {{ form.director }}
            </div>
            {% for err in form.director.errors %}
                <div class="col-md-12">
                    <span style="color: red">{{ err }}</span>
                </div>
            {% endfor %}

            <div class="form-group">
                <label>Actors</label>
                {{ form.actors }}
            </div>
            {% for err in form.actors.errors %}
                <div class="col-md-12">
                    <span style="color: red">{{ err }}</span>
                </div>
            {% endfor %}

            <div class="form-group">
                <label>Picture</label>
                <input name="picture" type="file" class="file" data-show-preview="True" style="background-color: #fff"/>
            </div>

            <div class="form-group">
                <label>Poster</label>
                <input name="poster" type="file" class="file" data-show-preview="True" style="background-color: #fff"/>
            </div>
            

            <div class="form-group">
                {{ form.submit }}　　　　　　　　　　　　<!--提交按钮-->
                {{ form.csrf_token }}　　　　　　　　　　<!--csrftoken必须要写，同时还要设置 app的secret_key-->
            </div>

        </div>
    </form>
    </div>
    <div class="col-md-1"></div>

{% endblock %}