{% extends 'base.html' %}

{% block title %}add hall{% endblock %}


{% block main %}
    <h2 style="
         color: #0066CC;
         height: auto;
         font-size: 40px;
         font-style: oblique;
         font-weight: 300;
         text-align: center;
         text-shadow:0.05em 0.05em #66FFFF;
         font-family:'Times New Roman',fantasy;
         "
    >Add Hall</h2>
    <br>
    <form action="" method="post" enctype="multipart/form-data">
        <div class="form-container" style="margin-left:30%; margin-right:30%; padding-left:5%;font-size: 16px">
            <div class="form-group">
                {% if get_flashed_messages() %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {% for msg in get_flashed_messages() %}{{ msg }}{% endfor %}
                </div>
                {% endif %}
            </div>
            <br>
            <div class="form-group">
                <div class="row">
                <div class="col-md-6"><label>Hall Name:</label></div>
                <div class="col-md-3">{{ form.name }}</div>
                <div class="col-md-3"></div>
                </div>
            </div>

            {% for err in form.name.errors %}
                <div class="col-md-12">
                    <span style="color: red">{{ err }}</span>
                </div>
            {% endfor %}
            <br>
            <div class="form-group">
                <div class="row">
                <div class="col-md-6"><label>Is VIP Hall (yes is 1, no is 0):</label></div>
                <div class="col-md-3">{{ form.is_vip }}</div>
                <div class="col-md-3"></div>
                </div>
            </div>
            {% for err in form.is_vip.errors %}
                <div class="col-md-12">
                    <span style="color: red">{{ err }}</span>
                </div>
            {% endfor %}

            <br>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">{{ form.submit }}</div>　　　　　　　　　　　　<!--提交按钮-->
                    <div class="col-md-3">{{ form.csrf_token }}</div>
                    <div class="col-md-3"></div>　　　　　　　　　　<!--csrftoken必须要写，同时还要设置 app的secret_key-->
            </div>

        </div>
    </form>

{% endblock %}