{% extends 'base.html' %}

{% block title %}set schedule{% endblock %}


{% block main %}

    <h2 style="
         color: #0066CC;
         height: auto;
         font-size: 40px;
         font-style: oblique;
         font-weight: 300;
         text-align: center;
         text-shadow:0.05em 0.05em #66FFFF;
         font-family:'Times New Roman',fantasy;
         ">
        Set Schedule</h2>
    <br>
    <form action="" method="post" enctype="multipart/form-data" style="margin-left:20%; margin-right:20%;padding-left:10%;font-size: 16px">
        <div class="form-container" >
            <div class="form-group" >
                {% if get_flashed_messages() %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {% for msg in get_flashed_messages() %}{{ msg }}{% endfor %}
                </div>
                {% endif %}
            </div>



            <div class="form-group">
            <div class="row">
            <div class="col-md-2"></div>
                <div class="col-md-2"><label>Movie Name:</label></div>
            <div class="col-md-5">
                <select name="movie_id">
                    {% for movie in movies %}
                        <option value ="{{ movie.id }}">{{ movie.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3"></div>
            </div>
            </div>

            <div class="form-group">
                <div class="row">
            <div class="col-md-2"></div>
                <div class="col-md-2"><label>Hall Name:</label></div>
            <div class="col-md-5">
                <select name="hall_id">
                    {% for hall in halls %}
                        <option value ="{{ hall.id }}">{{ hall.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3"></div>
            </div>
            </div>

            <div class="form-group">
                <div class="row">
            <div class="col-md-2"></div>
                <div class="col-md-2"><label>Date:</label></div>
            <div class="col-md-5">
                {{ form.date }}
            </div>
            <div class="col-md-3"></div>
            </div>
            {% for err in form.date.errors %}
                <div class="col-md-12">
                    <span style="color: red">{{ err }}</span>
                </div>
            {% endfor %}
                </div>

            <div class="form-group">
                <div class="row">
            <div class="col-md-2"></div>
                <div class="col-md-2"><label>Start Time:</label></div>
            <div class="col-md-5">
                {{ form.start_time }}
            </div>
                <div class="col-md-3"></div>
            </div>
            {% for err in form.start_time.errors %}
                <div class="col-md-12">
                    <span style="color: red">{{ err }}</span>
                </div>
            {% endfor %}
            </div>

            <div class="form-group">
                <div class="row">
            <div class="col-md-2"></div>
                <div class="col-md-2"><label>End Time:</label></div>
            <div class="col-md-5">
                {{ form.end_time }}
            </div>
                <div class="col-md-3"></div>
            </div>
            {% for err in form.end_time.errors %}
                <div class="col-md-12">
                    <span style="color: red">{{ err }}</span>
                </div>
            {% endfor %}
                </div>

            <div class="form-group">
                <div class="row">
            <div class="col-md-2"></div>
                <div class="col-md-2"><label>Price:</label></div>
            <div class="col-md-5">
                {{ form.price }}
            </div>
                <div class="col-md-3"></div>
            </div>
            {% for err in form.price.errors %}
                <div class="col-md-12">
                    <span style="color: red">{{ err }}</span>
                </div>
            {% endfor %}
            </div>

        <br>

            <div class="form-group">
                <div class="row">
            <div class="col-md-2"></div>
                <div class="col-md-2">
                    {{ form.submit }}</div>　　　　　　　　　　　　<!--提交按钮-->
                    <div class="col-md-5">{{ form.csrf_token }}</div>
                    <div class="col-md-3"></div>
            </div>　　　　　　　　　　<!--csrftoken必须要写，同时还要设置 app的secret_key-->
            </div>

        </div>

    </form>
    </div>

{% endblock %}