{% extends 'base.html' %}

{% block title %}all movies{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}

{% block main %}
    {% import "_macros.html" as macros %}
    <div class="col-md-1"></div>
    <div class="all-blogs col-md-10" style="align-content: center; padding-top:20px; font-size: 16px">
    <table class="table table-hover">
        <h2 style="
         color: #0066CC;
         height: auto;
         font-size: 40px;
         font-style: oblique;
         font-weight: 300;
         text-align: center;
         text-shadow:0.05em 0.05em #66FFFF;
         font-family:'Times New Roman',fantasy;
         "
    >
        View All Movies </h2>
        <tr style="font-family: 'Times New Roman',fantasy;">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Certificate</th>
            <th>Director</th>
            <th>Actors</th>
            <th>Picture</th>
            <th>Poster</th>
            <th>Operation</th>

        </tr>
        {% for thismovie in allmovies %}
        <tr>
            <td>{{ thismovie.id }}</td>
            <td>{{ thismovie.name }}</td>
            <td>{{ thismovie.certificate }}</td>
            <td>{{ thismovie.director }}</td>
            <td>{{ thismovie.actors }}</td>
            <td><img src="/static/APP_images/{{ thismovie.picture }} " style="width: 40px;height: 40px" alt="Picture"></td>
            <td><img src="/static/APP_images/{{ thismovie.poster }} " style="width: 40px;height: 40px" alt="Poster"></td>
            <td><a href="/admin_delete_movie/{{ thismovie.id }}"><button type="button" class="btn btn-primary">Delete</button></a></td>
        </tr>
        {% endfor %}
    </table>


    <div class="pagination">
    {{ macros.pagination_widget(pagination, '.admin_list_all_movies') }}
    </div>
    </div>

    <div class="col-md-1 col-sm-1"></div>
{% endblock %}