{% extends 'base.html' %}

{% block title %}Reset password-{% endblock %}

{% block head %}
    <link rel="stylesheet" href="../static/css/login_register.css">
{% endblock %}

{% block main %}
    <div class="row">
    <div class="col-md-3 col-sm-2 col-xs-1"></div>
    <div class="col-md-6 col-sm-8 col-xs-10">
    <h3 class="text-title">Reset password</h3>

    <br>
    <form action="" method="post">
        <div class="form-container">
            {% if get_flashed_messages() %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {% for msg in get_flashed_messages() %}{{ msg }}{% endfor %}
            </div>
            {% endif %}
            <div class="form-group">
                <label>Old password</label>
                {{ form.oldpassword }}
            </div>
            {% for err in form.oldpassword.errors %}　　　　　　　　<!--错误信息-->
                <div class="col-md-12">
                    <span style="color: red">{{ err }}</span>　　<!--显示错误信息-->
                </div>
            {% endfor %}
            <div class="form-group">
                <label for="password">New password</label>
                {{ form.password1 }}
            </div>
            {% for err in form.password1.errors %}　　　　　　　　　　　　<!--pwd输入错误的提示信息-->
                <div class="col-md-12">
                    <span style="color: red">{{ err }}</span>
                </div>
            {% endfor %}
            <div class="form-group">
                <label for="password">Confirm password</label>
                {{ form.password2 }}
            </div>
            {% for err in form.password2.errors %}　　　　　　　　　　　　<!--pwd输入错误的提示信息-->
                <div class="col-md-12">
                    <span style="color: red">{{ err }}</span>
                </div>
            {% endfor %}
            <div class="form-group">
                {{ form.submit }}　　　　　　　　　　　　<!--提交按钮-->
                {{ form.csrf_token }}　　　　　　　　　　<!--csrftoken必须要写，同时还要设置 app的secret_key-->
            </div>

        </div>
    </form>
    </div>
    <div class="col-md-3 col-sm-2 col-xs-1"></div>
    </div>
{% endblock %}