alembic==1.3.0
aliyun-python-sdk-core==2.13.15
asgiref==3.2.3
blinker==1.4
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
cryptography==2.8
cycler==0.10.0
Django==3.0.4
dominate==2.4.0
Flask==1.1.1
Flask-Admin==1.5.4
Flask-Bootstrap==3.3.7.1
Flask-CKEditor==0.4.3
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
Flask-Moment==0.9.0
Flask-Pagination==0.0.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.1
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
HTMLParser==0.0.2
idna==2.8
image==1.5.28
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.5
kiwisolver==1.1.0
Mako==1.1.0
MarkupSafe==1.1.1
matplotlib==3.2.1
numpy==1.17.4
opencv-python==4.2.0.32
opencv-python-headless==4.2.0.32
pandas==1.0.3
Pillow==7.0.0
prettytable==0.7.2
pycparser==2.19
pycryptodome==3.9.7
pyecharts==1.7.1
PyEmail==0.0.1
pyminifier==2.1
pyOpenSSL==19.1.0
pyparsing==2.4.6
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2019.3
qrcode==6.1
requests==2.22.0
selenium==3.141.0
shortuuid==0.5.0
simplejson==3.17.0
six==1.12.0
SQLAlchemy==1.3.10
sqlparse==0.3.1
urllib3==1.25.8
uuid==1.30
visitor==0.1.3
Werkzeug==0.16.0
WTForms==2.2.1
